body {
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

/*can also use margin: 0 auto 0 auto; to center*/
h1 {
  font-family: 'Sacramento', cursive;
  margin-top: 0;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.top {
  background-color: #DCB5FF;
  padding-top: 100px;
  position: relative;
}

.middle {

}

.topcloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottomcloud {
  bottom: 300px;
  left: 300px;
  position: absolute;
}

.bottom {

}
